body {
  background-color: #ECEDED;
  color: #132746;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

figcaption {
  font-size: 0.8;
  font-style: italic;
  padding-bottom: 1.5%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

h1, h2, h3 {
  font-weight: bold;
  line-height: 1.4;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

h1 {
  font-size: 173%;
}

h2 {
  font-size: 144%;
}

h3 {
  font-size: 130%;
}

p {
  font-size: 1;
  font-weight: normal;
  line-height: 1.4;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

p.author {
  color: #124DA7;
}

a {
  text-decoration: none;
}

a:hover {
  color:#124DA7;
}

a:active {
  color:#0C3470;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
  font-size: 1.2
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
